numpy>=1.14.0
Pillow
cython
scikit-image<0.15.0
tensorflow-gpu
keras>=2.0.8
opencv-python
h5py
imgaug
IPython[all]
numpy
pycocotools>=2.0
keras>=2.2
tqdm
loguru
matplotlib
autolab_core>=0.0.9
autolab-perception
gym>=0.11
pyglet==1.4.0b1
pyrender>=0.1.23
pybullet
trimesh[easy]
pyrealsense2
scipy
visualization
gputil
psutil
jupyterlab
